@import 'client/theme';

.Header {
    &-container {
        margin: 0px;
        padding: 20px;
        width: 100%;
        height: 100px;
        background: #005493;
        color: #fff;
    /*    max-width: @max-content-width; */
    }
}
