@import 'client/theme';

.ContactsList {
    margin: 20px auto;
    padding: 10px;
    
    width: 600px;
    background: #ddd;
    
    ul {
        padding: 0px;
    }
    
    li {
        list-style: none;
        min-height: 40px;
        // border: solid 1px #555;
        padding: 5px;
        margin: 5px;
        
        .contactField {
            margin-right: 20px;
        }
        
        .removeButton {
            float: right;
        }
    }
}
